version: "3.8" # Use the latest version
services:
  ngwaf-log-fetcher:
    build:
      context: .
      dockerfile: Dockerfile
    image: antoinebr/ngwaf-log-fetcher
    environment:
      NGWAF_USER_EMAIL: "${NGWAF_USER_EMAIL}"
      NGWAF_TOKEN: "${NGWAF_TOKEN}"
      CORP_NAME: "${CORP_NAME}"
      SITE_NAME: "${SITE_NAME}"
      LOG_FILE_PATH: "${LOG_FILE_PATH}"
      MAX_HOURS: "24"
      LOCAL: "${LOCAL}"
      S3: ${S3}
      S3_BUCKET_NAME: "${S3_BUCKET_NAME}" # your bucketname
      S3_REGION: "${S3_REGION}"
      S3_ENDPOINT: "${S3_ENDPOINT}"
      S3_ACCESS_KEY_ID: "${S3_ACCESS_KEY_ID}"
      S3_SECRET_ACCESS_KEY: "${S3_SECRET_ACCESS_KEY}"
    volumes:
      - ./logs:/app/logs # Mount a volume for persistent logs
    restart: unless-stopped  # Automatically restart the container unless you stop it.